.button {
    border: 1px solid rgb(96, 113, 131);
    background-color:rgb(96, 113, 131);
    color: white;
    padding: 1rem 3rem;
    border-radius: 15px;
    cursor: pointer;
}

.button :hover,
.button :active{
    background-color: aliceblue;
}

.button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }
  